* {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

/* Large container */
.flex-horizantal-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-between;
}
.top-flex-horizantal-container {
    display: flex;
    flex-direction: row;
    margin: 30px;
    justify-content: space-between;
}
.flex-horizantal-container-reverse {
    display: flex;
    margin: 10px;
    justify-content: space-between;
}
.top-two-single-container{
    margin-bottom: 50px; 
    margin-right: 50px;
}
/* Prevent transformation of the page */
.constrain {
    min-width: 500px;
    max-width: 1000px;
}

/* color-block */
.color-block {
    display: inline-block;
    cursor: pointer;
}

/* BUTTON */
.line-button {
    /* font do not activate */
    width: fit-content;
    line-height: 1;
    transform: scaleY(0.8);
    letter-spacing: 2px;
    display: inline-block;
    margin: 10px;
    border: 2px solid #ffffff;
    padding-top: 14px;
    padding-bottom: 7px;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
}



.line-button:hover {
    border: 2px solid rgb(256, 256, 256, 0);
    background-color: #ffffff;
    color: #000000;
}

.empty-button:hover {
    cursor: pointer;
    display: inline-block;
}

.button {
    line-height: 1.8;
    font: 1.3em sans-serif;
    transform: scaleY(0.8);
    letter-spacing: 2px;
    display: inline-block;
    padding: 20px 60px;
    background-color: rgb(0, 111, 0);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(0, 111, 0, 0.5);
}

.little-diamond {
    margin: 30px 20px;
    height: 2rem;
}

.CHARGE-UP-YOUR-HEAD {
    margin: 38px 0px;
    height: 1.5rem;
}

.line-button {
    margin: 30px 29px;
    height: 1.5rem;
}

/* 填充 */
.color-label {
  background-color: rgba(45, 45, 45, 1);
  padding: 20px 0px;
    color: #ffffff;
    font-weight: bold;
    /* box-sizing: border-box; 确保填充不会增加单元格大小 */
}

.table-stl {
    margin: 20px;
    border-collapse: collapse;
    table-layout: fixed; 
    width: 100%;

    
}

tr{
    /* background-color: rgba(45, 45, 45, 1); */
    border-bottom: 1px solid rgba(45, 45, 45, 1);
}

th{
    color: #a7a5a5;
    padding: 20px 0px;
    text-align: center; 
    width: 40%;
    border-bottom: 1px solid rgba(45, 45, 45, 1);
}

td{
    color: #9d9d9d;
    padding: 30px 20px;
    /* border-bottom: 1px solid rgba(45, 45, 45, 1); */
    text-align: center;
    width: 15%;
    
     
}
td:hover {
    font-weight: bold;
    background-color: rgba(115, 255, 0, 0.125);
    color: #ffffff;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.full {
    margin-left: 30px;
    margin-bottom: 200px;
}

/* FONT Style */
.FS-header {
    font-style: italic;
    font-size: 45px;
    font-weight: bold;
    color: #ffffff;
    padding-bottom: 30px;
    text-align: left;
    cursor: pointer;
}
.FS-header:hover {

    font-size: 55px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 20px;
    text-align: left;
    cursor: pointer;
}

.FS-second-header {
    letter-spacing: 1px;
    font-size: 10px;
    color: #909090;
    padding: 15px 0px;
    text-align: left;
    border-bottom: 1px solid #414141;
}

.FS-third-header {
    line-height: 2;
    font-style: italic;
    letter-spacing: 1px;
    font-size: 16px;
    color: #ffffff;
    padding: 10px 0px;
    text-align: left;
    cursor: pointer;
}

.FS-context {
    line-height: 1.5;
    font-size: 13px;
    letter-spacing: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    cursor: pointer;
}

.FS-tb-context {
    font-size: 13px;
    padding-top: 10px;
    text-align: left;
    cursor: pointer;
}

.FS-explain-context {
    color: #5d5d5d;
    font-size: 9px;
    text-align: center;
    cursor: pointer;
}

.FS-explain-context:hover {
    color: #000000;
    font-size: 9px;
    text-align: center;
    cursor: pointer;
}

.FS-tb-emphasize-context {
    font-size: 17px;
    font-weight: bold;
    font-style: italic;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    cursor: pointer;
}

.low-res-header::before {
    content: "COMPARISON";
}
.low-res-row::before {
    display: table-cell;
    width: 100%;
    margin-bottom: 20px;

}

.low-res-no-boder {
    border: none;
}
.card {
    position: relative;
    transition: background 1s;
  }
  
  .card:hover {
    --active: 1;
  }
  
  .card:after {
    content: "";
    position: absolute;
    inset: 0;
    background:
      radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), hsla(112, 100%, 50%, 0.153), transparent 3vmin);
    background-attachment: fixed;
    opacity: var(--active, 0);
    transition: opacity 0.2s;
    pointer-events: none;
  }
  
  .card:before {
    content: "";
    position: absolute;
    inset: 0;
    background:
      radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), hsla(63, 100%, 50%, 0.165), transparent 3vmin),
      transparent;
    background-attachment: fixed;
    pointer-events: none;
    mask:
      linear-gradient(green, white) 50% 0 / 100% 4px no-repeat,
      linear-gradient(green, white) 50% 100% / 100% 4px no-repeat,
      linear-gradient(green, white) 0 50% / 4px 100% no-repeat,
      linear-gradient(green, white) 100% 50% / 4px 100% no-repeat;
  }
  

/* suit lower soluiton screen */
@media (max-width: 688px) {
    .FS-header {
        font-size: 40px;
        padding: 10px;
    }
    .FS-header:hover {
        font-size: 45px;}
    .flex-horizantal-container {
        flex-direction: column;

    }
    .top-flex-horizantal-container {
        flex-direction: column;
        margin: 0px;

        
    }
    .pading-left-30 {
        padding-left: 30px;
        
    }

    .top-two-single-container{
        margin-bottom: 15px; 
        padding-bottom: 70px;
        margin: 0px;
    }
    .table-stl {
        margin: 20px;
        width: 90%;
        border-collapse: collapse;
    }
    tr{
        /* background-color: rgba(45, 45, 45, 1); */
        border-bottom: 1px solid rgba(45, 45, 45, 1);
    }
    th {
        font-size: 18px;
        /* padding: 20px 0px; */
        display: block;
        width: 100%;
        border-bottom: 1px solid rgba(45, 45, 45, 1);

    }

    td {
        font-size: 18px;
        padding: 20px 0px;
        display: inline-block;
        width: 25%;
        text-align: center;
        height: 100%;
        /* vertical-align: baseline; */
    }



    .flex-horizantal-container-reverse {
        flex-direction: row-reverse;
    }

    .little-diamond {
        margin-top: 20px;
        height: 2rem;
    }

    .CHARGE-UP-YOUR-HEAD {
        margin-top: 28px;
        margin-left: 20px;
        height: 1.5rem;
    }

    .line-button {
        margin-top: 0px;
        margin-left: 29px;
        height: 1.5rem;
    }

    .FS-tb-emphasize-context {
        font-size: 23px;
        font-weight: bold;
    }


    .low-res-header::before {
        content: "HOW WE COMPARE";
        font-size: 1.7em;
        margin: 20px 0px;
        }
    .low-res-row::before {
        content: "";
        width: 100%;
        /* display: block; */
        border-bottom: 1px solid #999999;
    }
    .low-res-no-boder {
    border: none;
}

}